@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Norse Bold";
}

.header-title {
    background-color: black;
}

.header-title h1 {
    color: white;
}

.header-img {
    height: 200px;
    width: auto;
}